/* You can add global styles to this file, and also import other style files */

/* @media (min-width: 1204px) {
	.col-sm-3 {
		width: 200px;
    	height: 200;
	}
}

@media (min-width: 661px) and (max-width: 1203px) {
	.col-sm-3 {
		width: 100px;
    	height: 100px;
	}
}

@media (min-width: 0px) and (max-width: 660px) {
	.col-sm-3 {
		width: 50;
    	height: 50;
	}
} */

